body {
  font-family: "JetBrains Mono", monospace;
}

.container1 {
  background: url("/3.jpg") no-repeat;
  background-size: cover;
  display: flex;
  border: 2px;
  width: 75%;
  min-width: 500px;
  height: 650px;
  background-color: rgba(245, 245, 245, 0.7);
  margin: 4rem auto 2rem auto;
}

.user_login2 {
  border-radius: 8px;
  width: 375px;
  min-width: 345px;
  height: 560px;
  background-color: hsla(0, 0%, 100%, 0.98);
  box-sizing: border-box;
  margin: auto;
  padding: 4px;
}

.user_login2 {
  margin: auto;
}

.user_login2 h2 {
  font-size: 30px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  margin: 25px 2px auto;
  padding: 3px;
  text-align: center;
  margin-bottom: 10px;
}

.user_login2 .p {
  font-weight: bold;
  margin: 2px 2px 2px 8px;
  padding: 2px;
}

.user_login2 input {
  margin: 4px;
  margin-left: 28px;
  padding: 8px;
  width: 85%;
  border: 1px solid;
}

.user_login2 .btn {
  border: 2px;
  font-weight: bold;
  background-color: gold;
  border-radius: 2px;
  margin: 20px 75px auto 90px;
  padding: 10px;
  width: 50%;
  height: 40px;
}

.user_login2 .btn:hover {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

.info {
  text-align: center;
}

a {
  text-decoration: none;
  color: #010100;
}
a:hover {
  color: #ede514f4;
}

.error {
  background: hsla(0, 0%, 100%, 0.98);
  font-weight: bold;
  color: #e14040f2;
  padding: 4px;
  width: 95%;
  border-radius: 5px;
  margin: auto;
}

.trouble {
  font-size: 14px;
  margin: 12px;
  text-align: center;
}

.signin {
  font-size: 15px;
  text-align: center;
  margin: 16px auto auto auto;
}

#customBtn {
  margin: 16px 8px 16px 50px;
  display: inline-block;
  background: white;
  color: #444;
  width: 110px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px rgb(24, 24, 24);
  white-space: nowrap;
}

#customBtn1 {
  margin: 16px 26px 16px 8px;
  display: inline-block;
  background: white;
  color: #444;
  width: 125px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px rgb(24, 24, 24);
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
#customBtn1:hover {
  cursor: pointer;
}

span.icon2 {
  background: url("/Google.jpg") transparent 5px 50% no-repeat;
  background-size: 22px;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.icon1 {
  background: url("/Facebook.jpg") transparent 5px 50% no-repeat;
  background-size: 23px;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 6px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

span.buttonText1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
